<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Game-Title</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#gameStore">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#videos">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<header class="masthead ImageBackground">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="brand-heading dddddd">Welcome to Game-Title</h2>
          <!-- <p class="intro-text">Welcome</p> -->
          <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Game-Title</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est temporibus quibusdam vero aspernatur incidunt quam, assumenda
          labore tempora praesentium, nihil quis. Alias libero numquam, facilis quisquam repellendus repellat quis consequuntur
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit dolore nihil excepturi? Ex similique sit, rem vel
          corrupti voluptate magnam distinctio alias non fugiat nulla consectetur, repudiandae numquam libero.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Imagen background -->
<section id="gameImage" class="download-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <!-- <h2>Download Grayscale</h2>
          <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
      <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
    </div>
  </div>
</section>


<!-- Models Section -->
<section id="gameStore" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Game in stores</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est temporibus quibusdam vero aspernatur incidunt quam, assumenda
          labore tempora praesentium, nihil quis. Alias libero numquam, facilis quisquam repellendus repellat quis consequuntur
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit dolore nihil excepturi? Ex similique sit, rem vel
          corrupti voluptate magnam distinctio alias non fugiat nulla consectetur, repudiandae numquam libero.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Models Section -->
<section id="videos" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Game Videos</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est temporibus quibusdam vero aspernatur incidunt quam, assumenda
            labore tempora praesentium, nihil quis. Alias libero numquam, facilis quisquam repellendus repellat quis consequuntur
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus suscipit dolore nihil excepturi? Ex similique sit, rem vel
            corrupti voluptate magnam distinctio alias non fugiat nulla consectetur, repudiandae numquam libero.
          </p>
        </div>
      </div>
    </div>
  </section>



<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Follow Us</h2>
        <!-- <p>Feel free to leave us a comment on the
          on Start Bootstrap to give some feedback about this theme!
        </p> -->
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/" class="btn btn-default btn-lg colorIconSocial">
              <i class="fab fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/" class="btn btn-default btn-lg colorIconSocial">
              <i class="fab fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://youtube.com/" class="btn btn-default btn-lg colorIconSocial">
              <i class="fab fa-youtube fa-fw"></i>
              <span class="network-name">Youtube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="ColorFooter">
  <div class="container text-center">
    <p>Copyright &copy; Your Website 2018</p>
  </div>
</footer>